@font-face {
  font-family: 'HaloReach'; /* Choose a name for your font */
  src: url('path/to/your/fontfile.woff2') format('woff2'),
       url('path/to/your/fontfile.woff') format('woff'),
       url('path/to/your/fontfile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
    font-family: 'Halo-Reach', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #333333; 
}

.header{

    display: flex;
    justify-content: space-between;
    padding: 10px;

   /* background: blue; */
    


}

/* <img src = "haloreachlogo.png" alt = "Halo Reach Logo"> */
.left{
    margin-left: 40px;
   
    
}

.left img{

    width: 30px;
    
    height: 20px;
   
}

.right{
    margin-right: 40px;
}


.logo{
    color: white;
}


a{
    text-decoration: none;

    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}


.firstbox{

    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 5px;
    /* background: red; */
    color: white;

}

.imageboxone{

    margin-right: 100px;
}

.imageboxone img{

    height: auto;
    width: 350px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;

}



.textboxone{

    flex: 1;
    margin-left: 250px;
    width: 200px;
    
}

.textboxone button{

    border: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}


.secondbox{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    /* background: blue; */


}

.title{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
    color: white;
}

.container{
    display: flex;
    justify-content:center;
    gap: 52px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 5px;
    color: white;
}

.info{
    font-size: 14px;
    max-width: 200px;
    text-align: center;
}

.spartan{
    width: 100px;
    height: auto;
   /* background: blue; */
    border: 20px blue;
}

.thirdbox{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
   /* background-color: red; */
    padding: 5px;
    color: white;
    margin-top: 5px;
    

}

.thirdbox .quotename{
    margin-top: 5px;
    margin-left: 300px;
    
}

.fourthbox{

    display: flex;
    flex-direction: column;
    align-items: center;
  /*  background: red; */
  color: white;
    
    
}

.containerbox{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background: black;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin: 10px;
}

.titlebox .textbox{
    color: white;
    margin-top: 5px;
    font-size: 11px;
}

.containerbox .Purchasebutton{
    border: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.footer{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

    color: white;
}
